<div id="table-cont" class="table-cont w-100">
    {% verbatim %}

    <table v-if="bookings.length" class="table table-bordered table-hover" style="white-space: nowrap;  ">
        <thead class="bg-lightgray">
            <th><input type="checkbox"></th>
            <th>DATE</th>
            <th>BOOKING NO</th>
            <th>CONTAINER NO</th>
            <th>SEAL NO</th>
            <th>CLOSING DATE</th>
            <th>REMARK</th>
            <th>WORK ID</th>

            <th>DATE</th>
            <th>BOOKING NO</th>
            <th>CONTAINER NO</th>
            <th>SEAL NO</th>
            <th>CLOSING DATE</th>
            <th>REMARK</th>
            <th>WORK ID</th>

            <th>DATE</th>
            <th>BOOKING NO</th>
            <th>CONTAINER NO</th>
            <th>SEAL NO</th>
            <th>CLOSING DATE</th>
            <th>REMARK</th>
            <th>WORK ID</th>
            <th>DATE</th>
            <th>BOOKING NO</th>
            <th>CONTAINER NO</th>
            <th>SEAL NO</th>
            <th>CLOSING DATE</th>
            <th>REMARK</th>
            <th>WORK ID</th>
        </thead>
        <tbody>
        <tr v-for="(booking, index) in bookings" :class="{'bg-secondary':booking.cancel==1}">
            <td>
                <input type="checkbox" :value="booking.pk" v-model="checked_bookings">
                <!-- <label class="custom-control-label" for="cut{{ booking.pk }}"></label> -->
            </td>
            <td>{{ checked_bookings }}</td>
            <td>{{ booking.date | formatTime }}</td>
            <td v-if="booking.cancel==1" class="bg-secondary">{{ booking.booking_no }}</td>
            <!-- <td>{{ color_toggle }}</td> -->
            <td v-else v-bind:style="{ 'background-color': ifChange(booking.booking_no, bookings.length, index ) }">{{ booking.booking_no }}</td>
            <!-- <td v-else :class="[ifChange(booking.booking_no) ? 'alert-warning' : 'alert-danger']">{{ booking.booking_no }}</td> -->
            <!-- <td>{{ ifChange(booking.booking_no) }} {{ color_toggle }}</td> -->
            <td>{{ booking.container_no }}</td>
            <td>{{ booking.seal_no }}</td>
            <td>{{ booking.closing_date | formatTime }}</td>
            <td>{{ booking.remark }}</td>
            <td :class="{'bg-secondary':booking.cancel==1, 'alert-info':booking.nextday==1}">{{ booking.work_id }}</td>
        </tr>
</tbody>
    </table>

    <div v-else>
        <h1>ไม่พบข้อมูล</h1>
    </div>

    {% endverbatim %}
</div>
